<h1>Мое Angular 2 App!!!</h1>

<h1>{{title}}</h1>
<h2>My favorite hero is: {{myHero.name}}</h2>
<p>Heroes:</p>
<ul>
    <li *ngFor="#hero of heroes">
        {{ hero.name }}
    </li>
</ul>
<hr>
<p *ngIf="heroes.length > 3">There are many heroes!</p>

<hr>
<ul class="heroes">
    <li *ngFor="#hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<my-hero-detail [hero]="selectedHero"></my-hero-detail>

<div *ngIf="selectedHero">{{selectedHero | json}}</div>